body {
	background: #5F9EA0;
	color: #F5FFFA;
	font-family: Arial, Helvetic, sans-serif;
}
h1, h2 {
	font-family: 'Mansalva', cursive;
	text-align: center;
}
h1 {
	font-size: 100px;
	font-weight: bold;
}
h2 {
	font-size: 60px;
}
p {
	font-size: 30px;

}