body,html {
	color: #F7F5FE;
	margin: 0;
	box-sizing: border-box;
	height: 100%;
	width: 100%;
}

.header {
	background: rgba(0,0,0,.5);
}
nav {
	max-height: 200px;
	max-width: 100%;
	margin: 0 auto;
	padding: 0;
	background: rgba(0,0,0,.6);
	display: flex;
}
#logo {
	max-width: 2em;
	max-height: 2em;
	border-radius: 50%;
	padding: 5px;
	display: inline-flex;
	justify-content: flex-start;
}

#logo:hover {
	background-color: #008080;
}

ul {
	list-style-type: none;
	display: flex;
	justify-content: flex-end;
	align-content: center;
	width: 50%;
	padding: 20px;
	justify-content: space-between;
	flex-direction: row;
	margin: 20px 10px 0 auto;
	padding: 0;
	overflow: hidden;
}
li {
	display: inline-flex;
	justify-content: space-between;
}
li a {
	display: block;
	text-decoration: none;
	font-size: 2vw;
}
li a:hover {
	color: #008080;
}
a {
	font-size: 2vw;
	color: #F7F5FE;
	text-decoration: none;
	margin-top: 0;
	padding: 0;
	display: block;
	font-family: 'Work Sans', sans-serif;
}
#abovethefold {
	background-image: linear-gradient(
		rgba(0, 0, 0, 0.6),
		rgba(0, 0, 0, 0.6)
		),
		url("lightbackgroundimage.jpg");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: flex-end;
	}
#header {
	max-height: 200vh;
}
h1 {
	text-align: center;
	font-weight: 700;
	font-size: 13vw;
	font-family: 'Josefin Slab', serif;
	margin: 0 auto;
	color: #FFFFFF;
	flex: 1;
	margin-top: 15%;
	}

h2 {
	text-align: center;
	font-size: 3vw;
	color: #FFFFFF;
	font-family: 'Work Sans', sans-serif;
	margin: 0 auto;
	flex: 1;
}

@media only screen and (max-width: 700px) {
	h1 {
		text-weight: 700;
		margin-top: 60%;
	}

	h2 {
		font-weight: 200;
	}
	
	a {
		font-size: 1.2em;
		font-weight: 200;
	}
}

.aboutme {
	background-image: linear-gradient( rgba(0,0,0,.5), rgba(0,0,0,.3)), url("prettybackground.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-flow: column;
	height: 100%;
}
.aboutme nav {
	width: 100%;
}
.aboutme ul {
	align-items: flex-end;
	margin: auto;
	padding-left: 80vw;
}
.aboutme h1 {
	font-family: 'Josefin Slab', serif;
	font-size: 10vw;
	padding-top: 10vh;
	margin: 0 auto;
	color: #008080;
	text-shadow: 2px 2px 4px #000000;
}
.aboutme p {
	background: #008080;
	opacity: .8;
	max-width: 90%;
	align-items: center;
	margin-left: 5vw;
	margin-top: 5vw;
	text-shadow: 2px 2px 4px #000000;
	font-size: 2vw;
	font-family: 'Josefin Slab', serif;
}