html, body {
	margin: 0;
	padding: 0;
	text-decoration: none;
	height: 100%;
	font-size: 18px;
	background: #F8F8F8;
	font-family: 'Poppins', sans-serif;
}
nav {
	background: #FFFFFF;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-content: center;
}
ul {
	text-decoration: none;
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
}
li {
	padding: 0 1em; 
}
header {
	text-align: center;
}
h1 {
	font-size: 3em;
	font-weight: 2em;
	font-family: 'Jomolhari', serif;
	word-spacing: .3em;
}
h2 {
	font-size: 1.5em;
	font-weight: 1em;
	word-spacing: .2em;
	text-align: center;
}

form {
	clear: both;
	outline: solid #000; 
	margin: 2em;
	padding: 2em;
	background-color: #CD5C5C;
}
label {
	margin-bottom: 1em;
}
input {
	margin-bottom: 1em;
	width: 100%;
	padding: .5em;
	box-sizing: border-box;
	border-radius: 2%;
}
input:focus {
	border-color: #000;
}

button {
	float: center;
}

.wordofday {
	float: center;
	width: 88%;
	margin: 2%;
	text-align: center;
}


