* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-rendering: optimizeLegibility;
}

html {
	font-size: 16px; 
}

body {
	line-height: 1.5;
	height: 100%;
}

header {
	position: relative;
	height: 88vh;
}

header::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(
		rgba(0, 0, 0, 0.6),
		rgba(0, 0, 0, 0.6)),
		url(lightbackgroundimage.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	filter: brightness(60%);
	}

nav {
	background: rgb(0,0,0);
	opacity: .9;
	display: flex;
	max-height: 10vh;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

#logo {
	width: 3.5em;
	height: auto;
	border-radius: 50%;
	padding: .3em;
	margin-left: 1em;
	float: left;
}

#logo:hover {
	background-color: #008080;
}

nav ul {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	float: right;
}

li {
	list-style-type: none;
}

li a {
	display: block;
	font-family: 'Work Sans', sans-serif;
	color: #F7F5FE;
	font-size: 1em;
	padding: 0;
	margin: 1em;
	list-style: none;
}

li a:hover {
	color: #008080;
}


.hero-text {
	text-align: center;
	position: relative;
	width: 100%;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
}

h1 {	
	font-weight: 500;
	font-size: 12vw;
	margin: 0 .5em;
	font-family: 'Josefin Slab', serif;
	color: #FFFFFF;
	}

h2 {
	font-size: 3vw;
	color: #FFFFFF;
	font-family: 'Work Sans', sans-serif;
}

main {
	background-color: #FFFFFF;
	display: flex;
	justify-content: center;
	align-content: center;
	padding-top: 5em;
	padding-bottom: 5em;
}

.intro {
	float: left;
	width: 47%;
	padding: 1% 2% 1% 1%;
}

.Hi_image {
	display: flex;
	flex-direction: row;
	align-content: center;
}

.Hi_image h2 {
	font-family: 'Josefin Slab', serif;
	font-size: 3em;
	color: #8a8f93;
	text-shadow: .3em #8a8f93;
	padding: 0;
	margin: 0;
}

#birdpic {
	width: 5em;
	display: inline;
	margin-top: -1vh;
	box-shadow: none;
	height: auto;
}

p, li {
	font-size: 1.2em;
	color: #8a8f93;
	text-shadow: .3em #8a8f93;
	font-family: 'Work Sans', sans-serif;
	margin: 1em 0;
}

.image {
	float: right;
	overflow: none;
	width: 48%;
	margin-left: 1%;
	margin-right: 1%;
	display: flex;
	align-items: center;
	justify-content: center;
}

img {
	box-shadow: 2px 2px 4px #000;
	height: auto;
	max-width: 100%;
}

.SkillSection {
	background: rgb(0,0,0);
}

.skills {
	clear: both;
	text-align: center;
	width: 98%;
	padding: 1%;
}

.skills h2 {
	text-align: center;
	font-size: 5em;
	font-family: 'Josefin Slab', serif;
	text-shadow: .3em #fff;
	padding-top: 10vh;
}

.skills ul {
	display: flex; 
	flex-direction: row;
	justify-content: space-between;
	margin: 1%;
}

.skills li {
	font-size: 1em;
	padding: 0 1em;
	color: #fff;
}

@media only screen and (max-width: 1007px) {
	.hero-text {
		top: 40%
	}
	.intro {
		width: 50%;
		padding: 1% 2% 1% 1%;
	}
	.image {
		width: 45%;
		margin-left: 1%;
		margin-right: 1%;
	}
	.Hi_image h2 {
		font-size: 2.8em;
	}
	#birdpic {
		width: 4.5em;
	}
}

@media only screen and (max-width: 850px) {
	nav {
		height: 10vh;
	}
	html {
		font-size: 12px;
	}
	header::before {
		height: 90vh;
	}

}

@media only screen and (max-width: 720px) {
	#logo {
		width: 4em;
	}
	.image img {
		max-width: 90%;
	}
	.hero-text {
		top: 30%;
	}
	.Hi_image h2 {
		font-size: 2.5em;
	}
	#birdpic {
		width: 4em;
	}
}

@media only screen and (max-width: 600px) {
	header::before {
	background: linear-gradient(
		rgba(0, 0, 0, 0.75),
		rgba(0, 0, 0, 0.5)),
		url(plantimage.jpg) no-repeat center center;
	background-size: cover;
	}
	.hero-text {
		top: 27%
	}
	.image {
		width: 0%;
	}
	.intro {
		width: 98%;
		padding: 2%;
	}
	.Hi_image {
		display: flex;
		justify-content: center;
	}
	.Hi_image h2 {
		font-size: 3.5em;
	}
	.intro p, li {
		font-size: 1.3em;
	}
	#birdpic {
	float: right;
	width: 5em;
	}
	.skills h2 {
		font-size: 4em;
	}
}

@media only screen and (max-width: 400px) {
	#logo {
		width: 2.5em;
	}
	li a {
		font-size: .8em;
	}
	.Hi_image h2 {
		font-size: 2.8em;
	}
	.intro p, li {
		font-size: 1em;
	}
	.skills li {
		padding: 0;
	}
}

@media only screen and (max-width: 320px) {
	.Hi_image h2 {
		font-size: 2.5em;
	}
	#birdpic {
		width: 4em;
	}
}

/* Specific to Resume Page */

.resumepage nav {
	background: rgba(0,0,0,.7);
}

.resumepage header::before {
	background-image: linear-gradient(
		rgba(0, 0, 0, 0.5),
		rgba(0, 0, 0, 0.7)), url('backgroundimage.jpg');
	height: 100vh;
}

.resumepage .hero-text {
	top: 50%;
}

.resumepage h1 {
	font-size: 10vw;
}

.hero-text p {
	font-size: 1.5em;
	padding: 2%;
}

.resumepage h2 {
	color: #FFF;
	letter-spacing: .2em;
}

.resumepage p {
	color: #fff;
	padding: 1%;
	letter-spacing: .2em;
}

.resumepage main {
	background-image: linear-gradient(
		rgba(0, 0, 0, .9),
		rgba(0, 0, 0, .9));
}

.resumepage .Hi_image {
		display: flex;
		justify-content: center;
		padding-top: 4%;
}

.Resume {
	display: block;
	width: 90%;
	padding: 5%;
}

/* Blog Page */

.blogpage header::before {
	background-image: linear-gradient(
		rgb(255, 255, 255),
		rgb(255, 255, 255));
	filter: brightness(100%);
}

.blogpage header {
	height: 40vh;
}

.blogpage .hero-text {
	top: 10%;
	margin-top: 5%;
}

.blogpage h1 {	
	font-size: 6vw;
	color: rgb(0,0,0);
	top: 10%;
}

