body,html {
	color: #F7F5FE;
	margin: 0;
	box-sizing: border-box;
	height: 100%;
}
body {
	height: 100%;
}
.header {
	background: rgba(0,0,0,.5);
}
nav {
	max-height: 200px;
	max-width: 100%;
	margin: 0 auto;
	padding: 0;
	background: rgba(0,0,0,.6);
	display: flex;
}
#logo {
	max-width: 2em;
	max-height: 2em;
	border-radius: 50%;
	padding: 5px;
	display: inline-flex;
	justify-content: flex-start;
}

#logo:hover {
	background-color: #111;
}

ul {
	list-style-type: none;
	display: flex;
	justify-content: flex-end;
	align-content: center;
	width: 50%;
	padding: 20px;
	justify-content: space-between;
	flex-direction: row;
	margin: 20px 10px 0 auto;
	padding: 0;
	overflow: hidden;
}
li {
	display: inline-flex;
	justify-content: space-between;
}
li a {
	display: block;
	text-decoration: none;
	font-size: 1em;
}
li a:hover {
	background-color: #111;
}
a {
	font-size: 2em;
	color: #F7F5FE;
	text-decoration: none;
	margin-top: 0;
	padding: 0;
	display: block;
	font-family: 'Libre Baskerville', serif;
}
#abovethefold {
	background-image: linear-gradient(
		rgba(0, 0, 0, 0.5),
		rgba(0, 0, 0, 0.5)
		),
		url("lightbackgroundimage.jpg");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: flex-end;
	}
h1 {
	text-align: center;
	font-weight: 700;
	font-size: 5em;
	font-family: 'Libre Baskerville', serif;
	margin: 0 auto;
	color: #FFFFFF;
	flex: 1;
	margin-top: 30%;

	}

h2 {
	text-align: center;
	font-size: 1em;
	color: #FFFFFF;
	font-family: 'Libre Baskerville', serif;
	margin-top: 0;
	flex: 1;
}

@media only screen and (max-width: 700px) {
	h1 {
		font-size: 4.00em;
		text-weight: 700;
		margin-top: 60%;
	}

	h2 {
		font-size: 1em;
		font-weight: 200;
	}
	
	a {
		font-size: 1.2em;
		font-weight: 200;
	}
}

.belowthefold {
	padding-top: 50px;
	align-content: center;
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	justify-content: space-around;
	width: 100%;
	margin: 0 auto;

}
.column1 {
	flex: 1;
	padding: 2px;
	padding-bottom:10px; 
	align-items: center;
	max-width: 100%;
	max-width: 400px;
	height: auto;

}

.column2 {
	flex: 1;
	padding: 2px;
	padding-bottom: 10px;
	align-items: center;
	max-width: 100%;
	max-width: 400px;
	height: auto;
}

.column3 {
	flex: 1;
	padding: 2px;
	padding-bottom: 10px;
	align-items: center;
	max-width: 100%;
	max-width: 400px;
	height: auto;
}
p {
	color: #000000;
	background: black;
	max-height: 500px;
	max-height: 100px;
}
@media only screen and (max-width: 930px) {

#belowthefold {
	display: flex;
	justify-content: space-between;
}
.column1 {
	max-width: 100%;
	max-width: 300px;
	height: auto;
}
.column2 {
	max-width: 100%;
	max-width: 300px;
	height: auto;
}
.column3 {
	max-width: 100%;
	max-width: 300px;
	height: auto;
}