@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&family=Raleway:wght@200;400");
html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: [head] 20% [main] auto [foot] 10%;
      grid-template-rows: [head] 20% [main] auto [foot] 10%;
}

.container .about {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  width: 90%;
  padding: 2vh 1vw;
  background-color: whitesmoke;
  border: 1vh solid #707480;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 25%;
  right: 2%;
}

.container .about h2 {
  font-family: "Raleway", sans-serif;
}

.container .about p {
  padding: 0 1vw;
  line-height: 3vh;
  font-family: "Open Sans", sans-serif;
}

.container .about button {
  padding: 2vh 6vw;
  margin: auto;
  border-radius: 24px;
  background-color: #707480;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  outline: none;
  color: white;
  font-size: 3vw;
  letter-spacing: .05vw;
  font-family: "Raleway", sans-serif;
}

.container .about button img {
  position: relative;
  height: 100%;
}

.container .about button:hover {
  cursor: pointer;
}

.container .about button:active {
  -webkit-box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.3);
          box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.3);
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #4A5680;
  color: whitesmoke;
  width: 100%;
  grid-row: head;
}

header h1 {
  font-size: 7vw;
  letter-spacing: .1vw;
  font-family: "Open Sans", sans-serif;
}

header button {
  padding: 1vh 5vw;
  border-radius: 24px;
  background-color: whitesmoke;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  outline: none;
  color: #4A5680;
  border: 1px solid #707480;
  font-size: 3vw;
  letter-spacing: .05vw;
  font-family: "Raleway", sans-serif;
}

header button:hover {
  cursor: pointer;
}

header button:active {
  -webkit-box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.3);
          box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.main {
  -ms-grid-row: main;
      grid-row-start: main;
  grid-row-end: foot;
  width: 90%;
  margin: 3vh auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: [search] 10vh [dictionary] auto [practice] auto [flashcard] 45vh;
      grid-template-rows: [search] 10vh [dictionary] auto [practice] auto [flashcard] 45vh;
}

.main .search-section {
  width: 100%;
  -ms-grid-row: search;
      grid-row-start: search;
  grid-row-end: dictionary;
}

.main .search-section input[type="text"] {
  width: 100%;
  padding: 1vh 0;
  font-size: 4vw;
  color: #4A5680;
  border: 0.3vw solid #707480;
  padding-left: 1vw;
}

.main .search-section input[type="text"]::-webkit-input-placeholder {
  color: #4A5680;
  padding-left: 1vw;
}

.main .search-section input[type="text"]:-ms-input-placeholder {
  color: #4A5680;
  padding-left: 1vw;
}

.main .search-section input[type="text"]::-ms-input-placeholder {
  color: #4A5680;
  padding-left: 1vw;
}

.main .search-section input[type="text"]::placeholder {
  color: #4A5680;
  padding-left: 1vw;
}

.main .search-section input[type="text"]:hover, .main .search-section input[type="text"]:active {
  cursor: text;
}

.main .dictionary-entrance {
  -ms-grid-row: dictionary;
      grid-row-start: dictionary;
  grid-row-end: practice;
}

.main .dictionary-entrance .errorH2 {
  font-family: "Raleway", sans-serif;
  color: #4A5680;
  text-align: center;
}

.main .dictionary-entrance .wordHolder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .dictionary-entrance .wordHolder #vocabularyWord {
  font-family: "Raleway", sans-serif;
  color: #4A5680;
  font-size: 6vw;
  margin: 0;
}

.main .dictionary-entrance .wordHolder button {
  border-radius: 50%;
  background-color: #4A5680;
  color: white;
  font-family: "Open Sans", sans-serif;
  padding: 3vw;
  margin-right: 4vw;
  font-size: 3vw;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  outline: none;
}

.main .dictionary-entrance .wordHolder button:hover {
  cursor: pointer;
}

.main .dictionary-entrance .wordHolder button:active {
  -webkit-box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.4);
          box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.main .dictionary-entrance p {
  text-transform: uppercase;
  margin: .5vh 0;
}

.main .dictionary-entrance #definitions .definition {
  margin: 1vh 0;
  text-transform: uppercase;
}

.main .practice-list {
  -ms-grid-row: practice;
      grid-row-start: practice;
  grid-row-end: flashcard;
  width: 100%;
  padding: 1vh 0;
  margin: 5vh auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #E0E7FF;
}

.main .practice-list h2 {
  text-transform: uppercase;
  font-size: 4vw;
  width: 100%;
  text-align: center;
  color: #4A5680;
}

.main .practice-list button:hover {
  cursor: pointer;
}

.main .practice-list .list-container ul {
  list-style-type: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  word-wrap: break-word;
}

.main .practice-list .list-container ul li {
  padding: 0 1.5vw;
}

.main .flashcard-section {
  grid-row: flashcard;
  margin: 5vh auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .flashcard-section .flashcards {
  width: 70%;
  min-width: 200px;
  height: 100%;
  min-height: 150px;
  margin: auto;
  overflow: hidden;
  border: 1px solid black;
}

.main .flashcard-section .flashcards .flashcard {
  -o-object-fit: fill;
     object-fit: fill;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #E0E7FF;
  color: #4A5680;
  border: 2px solid #707480;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2vw;
  display: none;
}

.main .flashcard-section .flashcards .flashcard:first-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .flashcard-section .flashcards button {
  padding: 1vh 2vh;
  margin: 0 3vw;
  background-color: transparent;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

footer {
  width: 100%;
  grid-row: foot;
  margin: 0;
  padding: 1vh 0 0 0;
  font-size: 2vw;
  background-color: #4A5680;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footerid {
  margin-right: 3vw;
}

footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: 3vw;
}

footer ul li {
  padding-bottom: 1vh;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  cursor: pointer;
}
/*# sourceMappingURL=app.css.map */