@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&family=Raleway:wght@200;400");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
}

.container {
  min-height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 200px 1fr 40px;
      grid-template-rows: 200px 1fr 40px;
  grid-row-gap: 5px;
  -ms-grid-columns: 20px 1fr 20px;
      grid-template-columns: 20px 1fr 20px;
      grid-template-areas: "header header header" ". main ." "footer footer footer";
}

@media (max-width: 350px) {
  .container {
    -ms-grid-rows: 150px 1fr 40px;
        grid-template-rows: 150px 1fr 40px;
  }
}

@media (min-width: 600px) {
  .container {
    -ms-grid-rows: 250px 1fr 40px;
        grid-template-rows: 250px 1fr 40px;
  }
}

@media (min-width: 1000px) {
  .container {
    -ms-grid-rows: 150px 1fr 40px;
        grid-template-rows: 150px 1fr 40px;
  }
}

.container .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  z-index: 2;
  width: 90%;
  padding: 200px 20px;
  background-color: whitesmoke;
  border: 0.3vw solid #707480;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 25%;
  right: 3%;
}

.container .about > h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 7vw;
  color: #4a5680;
  letter-spacing: 0.02vw;
}

@media (min-width: 1000px) {
  .container .about > h2 {
    font-size: 5vw;
  }
}

.container .about > p {
  font-family: "Raleway", sans-serif;
  font-size: 3vw;
  letter-spacing: 0.03vw;
  line-height: 3vh;
  text-transform: uppercase;
  color: #707480;
  margin: 7px 0 0 0;
}

@media (min-width: 1600px) {
  .container .about > p {
    font-size: 1.5vw;
  }
}

.container .about > button {
  border: 1px solid #707480;
  border-radius: 24px;
  background-color: #707480;
  color: #fff;
  font-size: 3vw;
  letter-spacing: 0.05vw;
  font-family: "Raleway", sans-serif;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  outline: none;
  padding: 2vh 6vw;
  margin: 2vh auto;
}

.container .about > button:hover {
  cursor: pointer;
}

.container .about > button:active {
  -webkit-box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.3);
          box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.3);
}

@media (min-width: 600px) {
  .container .about > button {
    margin-top: 5vh;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
  background-color: #4a5680;
  color: whitesmoke;
}

@media (min-width: 1000px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

header > h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 7vw;
  color: #fff;
  letter-spacing: 0.02vw;
}

@media (min-width: 1000px) {
  header > h1 {
    font-size: 4vw;
  }
}

@media (min-width: 1000px) {
  header > h1 {
    margin-left: 3vw;
  }
}

header > button {
  border: 1px solid #707480;
  border-radius: 24px;
  background-color: whitesmoke;
  color: #4a5680;
  font-size: 3vw;
  letter-spacing: 0.05vw;
  font-family: "Raleway", sans-serif;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  outline: none;
  padding: 1vh 5vw;
}

header > button:hover {
  cursor: pointer;
}

header > button:active {
  -webkit-box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.3);
          box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.3);
}

@media (min-width: 1000px) {
  header > button {
    margin: 0 3vw 0 0;
    font-size: 2vw;
    padding: 1vh 3vw;
  }
}

.main {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: main;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 60px 1fr 1fr auto;
      grid-template-rows: 60px 1fr 1fr auto;
  grid-row-gap: 20px;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
      grid-template-areas: "search" "dictionary" "flashcard" "practice";
}

@media (min-width: 600px) {
  .main {
    -ms-grid-rows: 80px 1fr 1fr auto;
        grid-template-rows: 80px 1fr 1fr auto;
  }
}

@media (min-width: 1000px) {
  .main {
    -ms-grid-rows: 100px 1fr 1fr auto;
        grid-template-rows: 100px 1fr 1fr auto;
    row-gap: 20px;
    -ms-grid-columns: 40px 1fr 40px;
        grid-template-columns: 40px 1fr 40px;
        grid-template-areas: "search search search" "dictionary dictionary dictionary" ". flashcard ." "practice practice practice";
  }
}

.search-section {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: search;
}

.search-section input[type="text"] {
  font-family: "Raleway", sans-serif;
  font-size: 3vw;
  letter-spacing: 0.03vw;
  line-height: 3vh;
  text-transform: uppercase;
  color: #4a5680;
  margin: 7px 0 0 0;
  font-size: 3vw;
  width: 100%;
  padding: 15px 10px;
  border: 0.3vw solid #707480;
}

@media (min-width: 1600px) {
  .search-section input[type="text"] {
    font-size: 1.5vw;
  }
}

@media (min-width: 1000px) {
  .search-section input[type="text"] {
    width: 70%;
  }
}

.search-section input[type="text"]::-webkit-input-placeholder {
  color: #4a5680;
}

.search-section input[type="text"]:-ms-input-placeholder {
  color: #4a5680;
}

.search-section input[type="text"]::-ms-input-placeholder {
  color: #4a5680;
}

.search-section input[type="text"]::placeholder {
  color: #4a5680;
}

.search-section input[type="text"]:hover, .search-section input[type="text"]:active {
  cursor: text;
}

.dictionary-entrance {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: dictionary;
}

.dictionary-entrance .errorH2 {
  font-family: "Open Sans", sans-serif;
  font-size: 7vw;
  color: #4a5680;
  letter-spacing: 0.02vw;
  text-align: center;
}

@media (min-width: 1000px) {
  .dictionary-entrance .errorH2 {
    font-size: 5vw;
  }
}

.dictionary-entrance .wordHolder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dictionary-entrance .wordHolder .vocab {
  font-family: "Open Sans", sans-serif;
  font-size: 6vw;
  color: #4a5680;
  letter-spacing: 0.02vw;
  margin: 0;
}

@media (min-width: 1000px) {
  .dictionary-entrance .wordHolder .vocab {
    font-size: 4vw;
  }
}

.dictionary-entrance .wordHolder > button {
  border: 1px solid #707480;
  border-radius: 24px;
  background-color: #4a5680;
  color: #fff;
  font-size: 3vw;
  letter-spacing: 0.05vw;
  font-family: "Raleway", sans-serif;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  outline: none;
  padding: 2vw;
  margin-right: 4vw;
}

.dictionary-entrance .wordHolder > button:hover {
  cursor: pointer;
}

.dictionary-entrance .wordHolder > button:active {
  -webkit-box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.3);
          box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.dictionary-entrance .wordType {
  font-family: "Raleway", sans-serif;
  font-size: 3vw;
  letter-spacing: 0.03vw;
  line-height: 3vh;
  text-transform: uppercase;
  color: #ffffff;
  margin: 7px 0 0 0;
  background-color: #707480;
  width: 12vw;
  text-align: center;
}

@media (min-width: 1600px) {
  .dictionary-entrance .wordType {
    font-size: 1.5vw;
  }
}

.dictionary-entrance .definitions .definition {
  font-family: "Raleway", sans-serif;
  font-size: 3vw;
  letter-spacing: 0.03vw;
  line-height: 3vh;
  text-transform: uppercase;
  color: #707480;
  margin: 7px 0 0 0;
}

@media (min-width: 1600px) {
  .dictionary-entrance .definitions .definition {
    font-size: 1.5vw;
  }
}

.flashcard-section {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: flashcard;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60px 1fr 60px;
      grid-template-columns: 60px 1fr 60px;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
      grid-template-areas: "img1 flashcards img2";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: hidden;
}

@media (min-width: 600px) {
  .flashcard-section {
    -ms-grid-columns: 90px 1fr 90px;
        grid-template-columns: 90px 1fr 90px;
  }
}

.flashcard-section .flashcard-button {
  margin: auto;
}

@media (max-width: 350px) {
  .flashcard-section .flashcard-button {
    width: 40px;
    height: auto;
  }
}

@media (min-width: 600px) {
  .flashcard-section .flashcard-button {
    width: 80px;
    height: auto;
  }
}

.flashcard-section .flashcard-button .fbutton1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: img1;
}

.flashcard-section .flashcard-button .fbutton2 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: img2;
}

.flashcard-section .flashcards {
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: flashcards;
  border: 0.3vw solid #707480;
}

.flashcard-section .flashcard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -o-object-fit: fill;
     object-fit: fill;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: none;
  background-color: #4a5680;
  border: 0.3vw solid #707480;
  padding: 5vh 2vw;
  overflow-y: scroll;
}

.flashcard-section .flashcard > h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 5vw;
  color: #e0e7ff;
  letter-spacing: 0.02vw;
}

@media (min-width: 1000px) {
  .flashcard-section .flashcard > h2 {
    font-size: 2.5vw;
  }
}

.flashcard-section .flashcard .definitiondiv .definition {
  font-family: "Raleway", sans-serif;
  font-size: 3vw;
  letter-spacing: 0.03vw;
  line-height: 3vh;
  text-transform: uppercase;
  color: #ffffff;
  margin: 7px 0 0 0;
  font-size: 2.5vw;
  text-align: center;
}

@media (min-width: 1600px) {
  .flashcard-section .flashcard .definitiondiv .definition {
    font-size: 1.5vw;
  }
}

.flashcard-section .flashcard:first-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.practice-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: practice;
  justify-self: center;
  width: 50%;
  padding-bottom: 40px;
  visibility: hidden;
}

.practice-list > h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 4vw;
  color: #4a5680;
  letter-spacing: 0.02vw;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}

@media (min-width: 1000px) {
  .practice-list > h2 {
    font-size: 2.5vw;
  }
}

.practice-list .list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 95%;
  margin: auto;
  display: none;
  background-color: #4a5680;
}

.practice-list .list-container .list-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  margin: auto;
  padding: 5px 10px;
}

.practice-list .list-container .list-div > p {
  font-family: "Raleway", sans-serif;
  font-size: 3vw;
  letter-spacing: 0.03vw;
  line-height: 3vh;
  text-transform: uppercase;
  color: #fff;
  margin: 7px 0 0 0;
  font-size: 3vw;
}

@media (min-width: 1600px) {
  .practice-list .list-container .list-div > p {
    font-size: 1.5vw;
  }
}

.practice-list .list-container .list-div .delete-button:hover {
  cursor: pointer;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
  background-color: #4a5680;
  color: white;
}

footer a {
  text-decoration: none;
  padding: 0;
  color: white;
  font-size: 2vw;
  font-family: "Raleway", sans-serif;
  margin: 0 3vw;
}

@media (min-width: 600px) {
  footer a {
    font-size: 1.5vw;
  }
}

footer a:hover {
  cursor: pointer;
}
/*# sourceMappingURL=app.css.map */