@charset 'utf-8';
// =====================================================
// Font-Stacks
// =====================================================
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&family=Raleway:wght@200;400");
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great');
$raleway-font: ("Raleway", sans-serif);
$opensans-font: ("Open Sans", sans-serif);
$josefin-font: ("Josefin Sans", sans-serif);
$heading-font: ('Fredericka the Great', cursive);

// =====================================================
// Color Scheme:
// =====================================================

$darkest-blue: #4a5680;
$medium-blue: #7689cc;
$lighest-blue: #e0e7ff;
$grey: #707480;
$light-grey: hsl(150, 1, 77);
$soft-white: hsl(19, 15, 88);
$black: hsl(0, 0, 8);
$gold: hsl(37, 56, 65);
$seagreen: hsl(159, 54, 33);

// =====================================================
// small element variables
// =====================================================

$box-shadow: 2px 2px 5px rgba($color: #000000,
    $alpha: 0.5,
);
$inset-box-shadow: inset 2px 2px 4px rgba($color: #000000,
    $alpha: 0.3,
);
$border: 2px solid $black;

// ===============================================
// Placeholder Selectors and Mixins for Common Elements
// ===============================================

// breakpoint for responsive design

@mixin breakpoint($point) {
    @if $point==lg {
        @media (min-width: 1600px) {
            @content;
        }
    }

    @else if $point==md {
        @media (min-width: 1000px) {
            @content;
        }
    }

    @else if $point==sm {
        @media (min-width: 600px) {
            @content;
        }
    }

    @else if $point==xs {
        @media (max-width: 350px) {
            @content;
        }
    }

    @else {
        @warn "Breakpoint mixin should be: lg, md, or sm.";
    }
}

//sections, divs, positions
@mixin zero-margin-padding {
    margin: 0;
    padding: 0;
}

@mixin flex-styling($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin fill-parent-container {
    object-fit: fill;
    width: 100%;
    height: 100%;
    position: relative;
    box-sizing: border-box;
}

//elements
@mixin button-styling($background-color, $color) {
    @include breakpoint(md) {
        font-size: 1.5vw;
    }

    border: $border;
    border-radius: 24px;
    background-color: $background-color;
    color: $color;
    font-size: 3vw;
    letter-spacing: 0.05vw;
    font-family: $raleway-font;
    box-shadow: $box-shadow;
    outline: none;

    &:hover {
        cursor: pointer;
        border-color: $soft-white;
    }

    &:active {
        box-shadow: $inset-box-shadow;
    }
}

@mixin ul-styling {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

@mixin li-styling($fontsize, $smfontsize) {
    @include breakpoint(sm) {
        font-size: $smfontsize;
    }

    padding: 0.3vh 0 1vh 0;
    font-size: $fontsize;
    font-family: $raleway-font;
}

@mixin a-tag-styling {
    @include breakpoint(sm) {
        font-size: 1.5vw;
    }

    @include breakpoint(md) {
        font-size: .7vw;
    }

    text-decoration: none;
    padding: 0;
    color: white;
    font-size: 2vw;
    font-family: $raleway-font;

    &:hover {
        cursor: pointer;
    }
}

@mixin heading-text-font($size, $mdsize, $color) {
    @include breakpoint(md) {
        font-size: $mdsize;
    }

    font-family: $josefin-font;
    font-size: $size;
    color: $color;
    letter-spacing: 0.02vw;
}

@mixin p-text-font($color) {
    @include breakpoint(sm) {
        font-size: 2vw;
        line-height: 3.5vh;
    }

    @include breakpoint(md) {
        font-size: 1vw;
        line-height: 3vh;
    }

    font-family: $raleway-font;
    font-size: 3vw;
    letter-spacing: 0.03vw;
    line-height: 3vh;
    text-transform: uppercase;
    color: $color;
    margin: 7px 0 0 0;
}

// ===================================================================================
//Mobile First Styling - breakpoints are for ipad, desktop, and up
// ===================================================================================
* {
    box-sizing: border-box;

    &:before,
    &:after {
        box-sizing: border-box;
    }
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    @include zero-margin-padding;
    background-color: $black;
}

.container {
    @include breakpoint(xs) {
        grid-template-rows: 100px 1fr 40px;
    }

    @include breakpoint(sm) {
        grid-template-rows: 175px 1fr 40px;
    }

    @include breakpoint(md) {
        grid-template-rows: 75px 1fr 50px;
        // background: no-repeat center/100% url('/images/background-image.jpg');

    }

    min-height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 150px 1fr 40px;
    grid-row-gap: 5px;
    grid-template-columns: 20px 1fr 20px;
    grid-template-areas: "header header header"
    ". main ."
    "footer footer footer";

    .about {
        @include flex-styling(column, center, center);

        @include breakpoint(md) {
            padding: 20px 75px;
        }

        display: none;
        z-index: 2;
        width: 90%;
        padding: 20px 20px;
        background-color: $black;
        border: $border;
        box-shadow: $box-shadow;
        position: absolute;
        top: 25%;
        right: 3%;

        >h2 {
            @include heading-text-font(7vw, 3vw, $seagreen);
            font-family: $josefin-font;
            text-align: center;
        }

        >p {
            @include p-text-font($soft-white);
        }

        >button {
            @include button-styling(transparent, $soft-white);

            @include breakpoint(sm) {
                margin-top: 5vh;
                padding: 1vh 3vw;
            }

            @include breakpoint(md) {
                padding: 1vh 2vw;
            }

            padding: 2vh 6vw;
            margin: 2vh auto;
        }
    }
}

header {
    @include breakpoint(md) {
        @include flex-styling(row, space-between, center);
    }

    @include flex-styling(column, start, center);
    grid-area: header;
    background-color: rgba($color: $black, $alpha: 0.99);

    >h1 {
        @include heading-text-font(5vw, 2vw, $soft-white);
        font-family: $heading-font;
        font-weight: 300;

        @include breakpoint(xs) {
            font-size: 6vw;
        }

        @include breakpoint(md) {
            margin-left: 2vw;
        }

    }

    >img {
        @include breakpoint(xs) {
            width: 30px;
            height: auto;
        }

        @include breakpoint(md) {
            margin-right: 4vw;

        }
    }
}

.main {
    @include breakpoint(sm) {
        grid-template-rows: 80px 1fr 1fr auto;
    }

    @include breakpoint(md) {
        grid-template-rows: 100px 1fr 1fr auto;
        row-gap: 50px;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-areas: "search search search"
            ". dictionary ."
            "flashcard flashcard flashcard"
            "practice practice practice";

    }

    grid-area: main;
    display: grid;
    grid-template-rows: 60px 1fr 1fr auto;
    grid-row-gap: 40px;
    grid-template-columns: 100%;
    grid-template-areas: "search"
    "dictionary"
    "flashcard"
    "practice";
}

.search-section {
    grid-area: search;
    align-self: end;
    outline: none;

    input {
        @include p-text-font($black);

        @include breakpoint(md) {
            width: 90%;
            margin: 0 auto;
            display: block;
        }

        font-family: $heading-font;
        letter-spacing: .04vw;
        font-size: 3vw;
        width: 100%;
        padding: 15px 10px;
        border: $border;

        &::placeholder {
            color: $black;
        }

        &:hover,
        &:active {
            cursor: text;
            outline: none;
        }
    }
}

.dictionary-entrance {
    grid-area: dictionary;

    .errorH2 {
        @include heading-text-font(6vw, 4vw, $soft-white);
        text-align: center;
    }

    .wordHolder {
        @include flex-styling(row, space-between, center);

        .vocab {
            @include heading-text-font(6vw, 4vw, $soft-white);
            margin: 0;
        }

        >button {
            @include button-styling(transparent, #fff);

            @include breakpoint(md) {
                padding: 1vw;
            }

            padding: 2vw;
            margin-left: 3vw;
        }
    }

    .wordType {
        @include breakpoint(md) {
            width: 13vw;
        }

        @include p-text-font($soft-white);
        background-color: $seagreen;
        width: 16vw;
        text-align: center;
    }

    .definitions {
        margin-top: 3vh;

        .definition {
            @include p-text-font($soft-white);
        }
    }
}

.flashcard-section {
    @include breakpoint(sm) {
        grid-template-columns: 70px 1fr 70px;

    }

    @include breakpoint(md) {
        width: 50%;
        margin: auto;
    }

    grid-area: flashcard;
    display: grid;
    grid-template-columns: 60px 1fr 60px;
    column-gap: 20px;
    grid-template-rows: 100%;
    grid-template-areas: "img1 flashcards img2";
    align-items: center;
    visibility: hidden;


    .flashcard-button {
        @include breakpoint(xs) {
            width: 40px;
            height: auto;
        }

        @include breakpoint(sm) {
            width: 80px;
            height: auto;
        }

        margin: auto;

        .fbutton1 {
            grid-area: img1;
        }

        .fbutton2 {
            grid-area: img2;
        }
    }

    .flashcards {
        box-shadow: $box-shadow;
        grid-area: flashcards;
        border: $border;
    }

    .flashcard {
        @include flex-styling(column, center, center);
        @include fill-parent-container;
        display: none;
        background-color: $soft-white;
        border: $border;
        padding: 5vh 2vw;

        >h2 {
            @include heading-text-font(5vw, 2.5vw, $seagreen);
        }

        .definitiondiv {
            .definition {
                @include p-text-font($black);
                font-size: 2.5vw;
                text-align: center;
            }
        }

        &:first-of-type {
            display: flex;
        }

        &:hover {
            cursor: pointer;
        }
    }
}

.practice-list {
    @include flex-styling(column, center, center);

    @include breakpoint(sm) {
        width: 30%;
    }

    @include breakpoint(md) {
        width: 20%;
    }

    grid-area: practice;
    justify-self: center;
    width: 50%;
    padding-bottom: 40px;
    visibility: hidden;

    >h2 {
        @include heading-text-font(4vw, 2.5vw, $soft-white);
        @include zero-margin-padding;
        width: 100%;
        text-align: center;
    }

    .list-container {
        @include flex-styling(column, center, center);
        flex-wrap: wrap;
        width: 95%;
        margin: auto;
        display: none;

        .list-div {
            @include flex-styling(row, space-between, center);
            width: 70%;
            margin: auto;
            padding: 5px 10px;

            >p {
                @include p-text-font($soft-white);
                font-size: 3vw;
            }

            .delete-button {
                &:hover {
                    cursor: pointer;
                }
            }

        }


    }
}


footer {
    @include flex-styling(row, space-between, center);
    grid-area: footer;
    background-color: rgba($color: $black, $alpha: 0.7);
    color: white;
    border-top: 2px dotted $grey;

    a {
        @include a-tag-styling;
        margin: 0 3vw;
    }

    .myfooteritems {
        @include flex-styling(row, space-around, center);

        img {
            @include breakpoint(xs) {
                width: 20px;
            }
        }
    }

}

//==============================================
// Resources:
// https://css-tricks.com/sass-style-guide/
// https://sass-guidelin.es/
// https://medium.com/@zerox/keep-that-damn-footer-at-the-bottom-c7a921cb9551
// https://dev.to/domysee/keeping-the-footer-at-the-bottom-with-css-flexbox-5h5f?signin=true
// https://medium.com/flexbox-and-grids/how-to-efficiently-master-the-css-grid-in-a-jiffy-585d0c213577
//https://stackoverflow.com/questions/17555682/height-100-or-min-height-100-for-html-and-body-elements
//==============================================