@import url('https://fonts.googleapis.com/css?family=Cinzel:400,700|Raleway:400,500');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,900');
//fonts
$Cinzel: Cinzel, serif;
$Merriweather: 'Merriweather', serif;
$Raleway: Raleway, sans-serif;


//color
$sea-blue: #008080;
$grey: #7e7d7d;
$green: #57805c;
$lightgrey: #cdcdc5;


//Mobile First Portfolio Design -- Screen Resolution of 600px or lower
html, body {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
}

header {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    display: flex;    
    flex-direction: column;
    overflow: hidden;

    .header-image {
        object-fit: fill;  
        width: 100%;
        height: 100%;
        display: block;
        z-index: 0;
        filter: opacity(80%) brightness(30%); 
    }

    nav {
        position: absolute;
        background-color: rgba($color: #1a1a1a, $alpha: 1);
        width: 100%;
        top: 0;
        left: 0;
        padding: 1em 0;
        line-height: 2.5em;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-around;

        
        #logo {
            width: 6vw;
            height: auto;
            border-radius: 50%;
            z-index: 1;
            border: 3px solid $green;
            margin: 0 0 0 1em;
    
            &:hover {
                cursor: auto;
            }
    
        }

        a {
            text-decoration: none;
            color: #ffffff;
            font-family: $Raleway;
            font-size: 1em;
            margin: 0 1em 0 1em;

            &:hover {
                border: $green solid 2px;
                padding: .1em;
                cursor: pointer;
            }

            &:active {
                border: none;
            }

        }
    }

    .hero-text {
        z-index: 1;
        position: absolute; 
        top: 20vh;
        width: 100%;
        padding: 5em 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            font-size: 10vw;
            font-weight: 700;
            letter-spacing: .1em;
            font-family: $Merriweather;
            color: #ffffff;
            z-index: 1;
            margin-bottom: 0;
        }

        h2 {
            font-size: 4vw;
            letter-spacing: .03em;
            font-family: $Raleway;
            font-weight: 400;
            color: #ffffff;
            z-index: 1;
            text-align: center;
        }

        
    }
 
}

.languagessection {
    width: 90%;
    margin: auto;
    padding: 1em 0 3em 0;

    .languages-heading {
        margin: 2em 0 0 0; 
        font-size: 6vw;
        font-weight: 700;
        letter-spacing: .05em;
        font-family: $Merriweather;
        color: $sea-blue;
        text-align: center;
    }

    h3 {
        font-size: 3.5vw;
        font-family: $Raleway;
        font-weight: 400;
        color: $grey;
        z-index: 1;
        text-align: center;
        word-spacing: .5em;
        word-wrap: break-word;
    }

}

hr {
    width: 90%;
    margin: auto;
    background-color: $lightgrey;
    height: 2px;
}

.projects {
    width: 90%;
    margin: auto;
    padding: 2em 0 3em 0;

    h2 {
        margin: 2em 0 0 0; 
        font-size: 6vw;
        font-weight: 700;
        letter-spacing: .05em;
        font-family: $Merriweather;
        color: $sea-blue;
        text-align: center; 
    }

    ul {
        list-style-type: none;
        padding: 0 0 2em 0; 
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-content: center;

        li {
            margin: 1em 0 0 0; 
            font-size: 3vw;
            font-weight: 400;
            letter-spacing: .05em;
            font-family: $Raleway;
            text-align: center;  
            color: $grey;
            box-shadow: 0 1px 0 0 $green;
            
            &:hover { 
                box-shadow: 0 3px 0 0 $green;
            }
            &:active {
                box-shadow: 0 1px 0 0 $green;
                margin-bottom: -2px;
            }
        }
    }
    .project-boxes {
        width: 100%;
        padding: 1%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        
        .card {
            color: white;
            background-color: $grey;
            padding: .5em;
            margin: .3em;
            flex-basis:80%;
            height: auto;
            text-align: center;
            position: relative;

            &:after {
                content: " ";
                display: block;
                padding-bottom: 100%;
            }

            .content {
                position: absolute;
                width: 100%;
                height: 100%;
            }
        }
    }

}

.background {
    width: 85%;
    margin: 4em auto; 
    border: 1em solid $lightgrey;
    
    h2 {
        width: 80%;
        margin: 2em auto; 
        font-size: 6vw;
        font-weight: 700;
        letter-spacing: .05em;
        font-family: $Merriweather;
        color: $sea-blue;
        text-align: center; 
    }  

    img {
        margin: 0;
        display: block;
        width: 100%;
    }
    
    p {
        width: 80%;
        margin: 1em auto;
        font-size: 4vw;
        color: $grey;
        text-align: left;
        line-height: 5vh;
        font-family: $Raleway;
    }

    .experiencep {
        font-size: 2vw;
        text-align: center;
    }
}

.resume-section {
    width: 90%;
    margin: 2em auto;

    .Hi_image {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;

        h2 {
            margin: 1em 0; 
            padding: 0;
            font-size: 6vw;
            font-weight: 700;
            letter-spacing: .05em;
            font-family: $Merriweather;
            color: $sea-blue;
            text-align: center;
        }

        .birdpic {
            width: 5em;
            display: inline-block;
        
        }
    }

    p {
        width: 80%;
        margin: .7em auto;
        font-size: 3vw;
        line-height: 3vh;
        color: $grey;
        text-align: left;
        font-family: $Raleway;    }
}

footer {
    position: relative;
    bottom: 0; 
    display: flex;
    flex-flow: row wrap;
    padding: 2em 0 .5em 0;
    width: 100%;
    height: auto;

    a {
       border-radius: 50%;
       left: 6vw;
       position: relative;
       width: 6vw;
       margin: 0 2em;
       text-decoration: none;
       color: $grey;

       &:hover {
            cursor: pointer; 

       }

    }

    .credit-tag {
        width: 20%;
        text-align: right;
        margin-top: 10px;
    }

    .social-icons {
        display: flex;
        flex-direction: row;
        width: 60%;

    }

    img {
        width: 100%;
    }
}






