* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-rendering: optimizeLegibility;
}

html {
	font-size: 16px; 
}

body {
	line-height: 1.5;
	height: 100%;
}

header {
	height: 100vh;
}

header::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: linear-gradient(
		rgba(0, 0, 0, 0.6),
		rgba(0, 0, 0, 0.6)),
		url(lightbackgroundimage.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	filter: brightness(60%);
	}

nav {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

#logo {
	width: 3.6em;
	height: auto;
	border-radius: 50%;
	padding: .3em;
	margin-left: 1em;
	float: left;
	z-index: 1;
}

#logo:hover {
	background-color: #008080;
}

nav ul {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	float: right;
}

li {
	list-style-type: none;
}

li a {
	display: block;
	font-family: 'Dosis', sans-serif;
	color: #F7F5FE;
	font-size: 1.1em;
	padding: 0;
	margin: 1em;
	list-style: none;
}

li a:hover {
	color: #008080;
}

.hero-text {
	text-align: center;
	position: relative;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

h1 {	
	font-weight: 500;
	font-size: 10vw;
	margin: 0 .5em;
	font-family: 'Cinzel', serif;
	color: #FFFFFF;
	}

h2 {
	font-size: 3vw;
	font-weight: 300;
	color: #FFFFFF;
	font-family: 'Dosis', sans-serif;
}

main {
	background-color: #fffafa;
	display: flex;
	justify-content: center;
	align-content: center;
	padding-top: 5em;
	padding-bottom: 5em;
}

.intro {
	float: left;
	width: 47%;
	padding: 1% 2% 1% 1%;
}

.Hi_image {
	display: flex;
	flex-direction: row;
	align-content: center;
}

.Hi_image h2 {
	font-family: 'Cinzel', serif;
	font-size: 3em;
	color: #8a8f93;
	text-shadow: .3em #8a8f93;
	padding: 0;
	margin: 0;
}

#birdpic {
	width: 5em;
	display: inline;
	margin-top: -1vh;
	box-shadow: none;
	height: auto;
}

p, li {
	font-size: 1.5em;
	color: #8a8f93;
	text-shadow: .3em #8a8f93;
	font-family:'Dosis', sans-serif;
	font-weight: 300;
	margin: 1em 0;
}

.image {
	float: right;
	overflow: none;
	width: 48%;
	margin-left: 1%;
	margin-right: 1%;
	display: flex;
	align-items: center;
	justify-content: center;
}

img {
	box-shadow: 2px 2px 4px #000;
	height: auto;
	max-width: 100%;
}

hr {
	display: block;
	margin: .5em 2em;
	overflow: hidden;
	border-style: inset;
	border-width: .1em;
}

.SkillSection {
	background: #fffafa;
}

.skills {
	clear: both;
	text-align: center;
	width: 98%;
	padding: 1%;
	margin-bottom: 3%
}

.skills h2 {
	text-align: center;
	font-size: 5em;
	font-family: 'Cinzel', serif;
	color: #8a8f93;
	text-shadow: .3em #fff;
	padding-top: 10vh;
}

.skills ul {
	display: flex; 
	flex-direction: row;
	justify-content: space-between;
	margin: 1%;
}

.skills li {
	font-size: 1.5em;
	padding: 0 1em;
	color: #8a8f93;
}

@media only screen and (max-width: 1040px) {
	.hero-text {
		top: 30%;
	}
	.intro {
		width: 50%;
		padding: 1% 2% 1% 1%;
	}
	.image {
		width: 45%;
		margin-left: 1%;
		margin-right: 1%;
	}
	.Hi_image h2 {
		font-size: 2.3em;
	}
	#birdpic {
		width: 4.5em;
	}
}

@media only screen and (max-width: 850px) {
	html {
		font-size: 12px;
	}


}

@media only screen and (max-width: 720px) {
	#logo {
		width: 4em;
	}
	.image img {
		max-width: 90%;
	}
	.hero-text {
		top: 30%;
	}
	.image {
		width: 0%;
	}
	.intro {
		width: 98%;
		padding: 2%;
	}
	.Hi_image {
		display: flex;
		justify-content: center;
	}
	.Hi_image h2 {
		font-size: 3.5em;
	}
	.intro p, li {
		font-size: 1.3em;
	}
	#birdpic {
	float: right;
	width: 5em;
	}
}

@media only screen and (max-width: 600px) {
	header::before {
	background: linear-gradient(
		rgba(0, 0, 0, 0.75),
		rgba(0, 0, 0, 0.5)),
		url(plantimage.jpg) no-repeat center center;
	background-size: cover;
	}
	.hero-text {
		top: 27%
	}
	.skills h2 {
		font-size: 4em;
	}

	.skills li {
		font-size: 1.2em;
	}
}

@media only screen and (max-width: 400px) {
	#logo {
		width: 2.5em;
	}
	li a {
		font-size: .8em;
	}
	.Hi_image h2 {
		font-size: 2.8em;
	}
	.intro p, li {
		font-size: 1em;
	}
	.skills li {
		padding: 0;
		font-size: 1em;
	}
}

@media only screen and (max-width: 320px) {
	.Hi_image h2 {
		font-size: 2.5em;
	}
	#birdpic {
		width: 4em;
	}
}

/* Specific to Resume Page */

.resumepage nav {
	top: .5%;
}

.resumepage header::before {
	background-image: linear-gradient(
		rgba(0, 0, 0, 0.5),
		rgba(0, 0, 0, 0.5)), url('backgroundimage.jpg');
	height: 100vh;
}

.resumepage .hero-text {
	top: 40%;
}

.resumepage h1 {
	font-size: 10vw;
}

.resumepage .hero-text p {
	color: #FFF;
	font-size: 1.3em;
	padding: 2%;
}

.resumepage h2 {
	color: 	#8a8f93;
	letter-spacing: .2em;
}

.resumepage p {
	color: #8a8f93;
	padding: 1%;
	letter-spacing: .2em;
}

.resumepage main {
	background: rgb(255,255,255);
}

.resumepage .Hi_image {
		display: flex;
		justify-content: center;
		padding-top: 4%;
}

.Resume {
	display: block;
	width: 90%;
	padding: 5%;
}

/* Contact Page */

.contactpage header::before {
	background-image: linear-gradient(
		rgba(0, 0, 0, .5),
		rgb(255, 255, 255));
	filter: brightness(80%);
	height: auto;
}
.contactpage nav {
	background: linear-gradient( rgba(255, 255, 255, .8), rgba(255, 255, 255, .8))
}

.contactpage header {
	height: auto;
}

.contactpage li a {
	color: #000;
}

.contactpage li a:hover {
	color: #008080;
}

.contacthero-text {
	height: auto;
	margin: 0 auto;
	padding: 0;
	display: flex;
	justify-content: center;
}

.contactimage {
	background-image: url("prettybackground.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 125vh;
}

.contactpage main {
	background: rgba(255, 255, 255, 1);
	border: 1px solid #ccc;
	margin: auto;
	margin-top: 10%;
	height: 50vh;
	width: 70%;
	z-index: 1;
	padding: 0;
}

form {
	width: 90%;
	display: flex;
	flex-direction: column;
	align-content: center;
}

input {
	height: 2em;
	margin: 1em;
	text-align: center;
}

#message {
	height: 5em;
}

input:focus {
	border-color: #008080;
}

input[type=submit] {
	background-color: #008080;
	color: white;
	border-radius: 20%;
	width: 4.5em;
	height: 2.5em;
	margin: 0 auto;
}



